
{{ form_start(form, {'attr': {'novalidate': "novalidate"}}) }}

{# CSRF Token #}
{{ form_widget(form._csrf_product_token) }}

{# Nom du produit #}
<div class="form-group">
    {{ form_label(form.title) }}
    {{ form_widget(form.title) }}
    {{ form_errors(form.title) }}
    {{ form_help(form.title) }}
</div>


{# Prix du produit #}
<div class="form-group">
    {{ form_label(form.price) }}
    {{ form_widget(form.price) }}
    {{ form_errors(form.price) }}
    {{ form_help(form.price) }}
</div>


{# description du produit #}
<div class="form-group">
    {{ form_label(form.description) }}
    {{ form_widget(form.description) }}
    {{ form_errors(form.description) }}
    {{ form_help(form.description) }}
</div>



{# {{ form_widget(form) }} #}

<button type="submit">{{ btn_label | default("Ajouter un produit") }}</button>

{{ form_end(form, {'render_rest': true}) }}
